<label for="name">Nombre:</label>
<input id="name" type="text" placeholder="Nombre" [(ngModel)]="nombre"/>
<p>{{nombre}}</p>

<label for="last">Apellido:</label>
<input id="last" type="text" placeholder="Apellido" [(ngModel)]="apellido"/>
<p>{{apellido}}</p>

<label for="age">Edad:</label>
<input id="age" type="text" placeholder="Edad" [(ngModel)]="edad"/>
<p>{{edad}}</p>

<label for="born">Fecha de nacimiento:</label>
<input type="date" id="born" max="2020-12-31" [(ngModel)]="fechaNacimiento"/>
<p>{{fechaNacimiento}}</p>


<input name="options" ng-control="options" type="radio" [value]="0"  [(ngModel)]="genero" >
<input name="options" ng-control="options" type="radio" [value]="1" [(ngModel)]="genero" >
<input name="options" ng-control="options" type="radio" [value]="2" [(ngModel)]="genero" >
<input name="options" ng-control="options" type="radio" [value]="3" [(ngModel)]="genero" >
<p>{{genero}}</p>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
